.DS_Store
log/
papoc.docx
resources/
simulations/deterministic/target/*
simulations/deterministic/.idea/
*.iml
simulations/deterministic/target/*
.Rhistory
simulations/probabilistic/target/*
simulations/probabilistic/.idea
